<h1>後台</h1>

<ul>
  <% @shoppings.each do |shopping| %>
  <li>
    <%= shopping.name %>
    <%= link_to 'Show', admin_shopping_path(shopping) %>
    <%= link_to 'Edit', edit_admin_shopping_path(shopping) %>
    <%= link_to 'Delete', admin_shopping_path(shopping), method: :delete, data: {confirm:"Are you sure?"} %>
  </li>
  <% end %>
</ul>
<%= link_to 'New product', new_admin_shopping_path %>