<div class="container-fluid">
	<div class="row">

			<div class="col-md-8">
				<% @shoppings.each do |shopping| %>
			    <div class="col-sm-6 col-md-2">
			      <div class="product-item">
			      	<%= image_tag shopping.image, class: "img-responsive center-block" %>
			      	
			      		<h5><%= link_to shopping.name, shopping_path(shopping) %></h5>
			      		<p><%= truncate(shopping.description, length: 20) %></p>
			      		<p>$<%= shopping.price %><p>
			      		<%= button_to 'Add to Cart', add_to_cart_shopping_path(shopping), remote: true %>
			      	
			      </div>
			    </div>
				<% end %>
				
				<div class="text-center">
					<%= paginate @shoppings %>
				</div>
			</div>

			<div class="col-md-4">
				<div class="">
					<h3>cart</h3>
					<hr>
					<div>
					  <% current_cart.cart_items.each do |item| %>
					  	<div class="col-sm-2 cart_img">
					  		<%= image_tag item.shopping.image, width: '50px' %>
					  	</div>
					  	<div class="col-sm-10">
					  		<div>
					  			<h5><%= item.shopping.name %></h5>
					  		</div>
					  		<div>
					  			<div class="col-sm-6">$<%= item.shopping.price %></div>
					  			<div class="col-sm-6">數量：<%= item.quantity %></div>
					  		</div>
					  		<div><%= button_to 'Delete', remove_form_cart_shopping_path(item.shopping), remote: true %>
					  		</div>
					  	</div>
					  <% end %>
					</div>
					<hr>
					<div class="subtotal">
				    <p>SUBTOTAL</p>
				    <p class="amount">$<%= current_cart.subtotal %></p>
				  </div>
				</div>
			</div>
				

	</div>
</div>