<div class="container">
	<div class="row">

		<h3><%= @shopping.name %></h3>
		
		$<%= @shopping.price%>
		<br>
		Description:<%= @shopping.description %>
		<br>
		<%= image_tag @shopping.image, width: '300px' %>
		<br>
		
		<%= link_to 'Back to index', shoppings_path, class: "btn btn-default" %>

	</div>
</div>